body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

/*HEADER Y NAV*/
header {
	padding: 10px;
	height: 50px;
}

header h1{
	float: left;
	font-size: 18px;
	font-weight: normal;
	margin-left: 100px;
}
nav {
	float: right;
	padding-top: 15px;
	margin-right: 100px;
}
nav a {
	float: left;
	text-decoration: none;
	margin-right: 20px;
}
/*SECCION 1*/
#participa {
	background-image: url("../img/home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}
