body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

/*HEADER Y NAV*/
header {
	padding: 10px;
	height: 50px;
}

header h1{
	float: left;
	font-size: 18px;
	font-weight: normal;
	margin-left: 100px;
}
nav {
	float: right;
	padding-top: 15px;
	margin-right: 100px;
}
nav a {
	float: left;
	text-decoration: none;
	margin-right: 20px;
	color: #6D6E6C;
}
/*SECCION 1 - PARTICIPA*/
#participa {
	background-image: url("../img/home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	text-align: center;
	font-weight: normal;
}
#participa h2{
	font-weight: normal;
	font-size: 40px;
	color: white;
	padding-top: 250px;
	margin:0;
}
#participa p{
	font-size: 18px;
	color: #242423;
	margin-bottom: 30px;
}
/*BOTONES*/
.boton {
	background-color: #2A5AFA;
	text-decoration: none;
	color: white;
	padding: 7px 12px;
	border: 1px solid blue;
	border-radius: 7px 7px 7px 7px;
}

/*SECCION 2 - HACKATHON*/
#hackathon {
	background-color: yellow;
	margin-top: 60px;
	height: 480px;
	color: #242423;
}
#hackathon img{
	width: 600px;
	padding: 70px 40px 70px 70px;
	float: left;
}

#hackathon article{
	padding-top: 50px;
}
#hackathon h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 25px;
}
#hackathon p {
	margin-right: 20px;
}

/*SECCION 3 - CONTACO*/
#contacto{
	margin-top: 150px;
	color: #242423;
	height: 700px;
}
#contacto img {
	float: left;
	padding: 0 70px;
}
#contacto article {
	float: right;
	width: 40%;
}
#contacto article h2{
	font-weight: normal;
	font-size: 40px;
	padding-left: 10px;
}
#contacto article p {
	margin: 0;
}
#contacto form {
	margin-top: 30px;
}
#contacto input {
	float: left;
	width: 80%;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #BCBDBA;	
}
#contacto input, #contacto textarea::-webkit-input-placeholder {
	padding-left: 10px;
}
#contacto textarea{
	width: 80%;
	margin-bottom: 20px;
}

/*FOOTER*/
footer {
	background-color: #3FA2FF;
	margin: 0;
	padding: 19px;
	color: white;
	font-size: 14px;
}